body {
	font-family: roboto, sans-serif;
}

h1 {
	text-align: center;
}

#weather {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	padding-left: 25px;
	padding-right: 25px;
}

.day img {
	width: 75%;
}

.day {
	text-align: center;	
}