body {
	font-family: roboto, sans-serif;
}

h1 {
	text-align: center;
}

#weather {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.day img {
	width: 75%;
}

.day {
	text-align: center;	
}