html, body {
	font-family: roboto, sans-serif;
	margin: 0;
	height: 100%;
	overflow: hidden;
}

h1 {
	text-align: center;
}

#weather {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	padding-left: 25px;
	padding-right: 25px;
	align-items: center;
}

.day img {
	width: 75%;
}

.day {
	text-align: center;	
}

.day:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}